<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
      <sectionGroup name="elmah">
          <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
          <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
          <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
          <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
      </sectionGroup>
  </configSections>
  <connectionStrings>
      <add name="WebConnection" connectionString="Server=ITLENOVOS4RLM46\SQLEXPRESS; Database=ErrorLogging;User ID=sa;Password=hondaf6c;persist security info=False;packet size=4096" providerName="System.Data.SqlClient" />
      <add name="Connection" connectionString="data source=C:\Projects\DB\LiveData.add;user id=AdsSys;password=hondaf6c" providerName="Advantage.Data.Provider" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString.SQL Server (SqlClient)" value="Data Source=ITLENOVOS4RLM46\SQLEXPRESS;Initial Catalog=WebConnection;Persist Security Info=True;User ID=sa;Password=hondaf6c" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
    <castle>
        <components>
            <component id="EntitiesModel" service="CCE.WebConnection.DAL.Abstract.IEntitiesModel, CCE.WebConnection.DAL" type="CCE.WebConnection.DAL.EntitiesModel, CCE.WebConnection.DAL" lifestyle="Transient"></component>
            <component id="CustomerEntity" service="CCE.WebConnection.DAL.ICustomerEntity, CCE.WebConnection.DAL" type="CCE.WebConnection.DAL.Customer, CCE.WebConnection.DAL" lifestyle="Transient"></component>
            <component id="CustomerRepository" service="CCE.WebConnection.BL.Repository.Abstract.ICustomersRepository, CCE.WebConnection.BL" type="CCE.WebConnection.BL.Repository.Concrete.CustomerRepository, CCE.WebConnection.BL" lifestyle="Transient"></component>
            <component id="UserRepository" service="CCE.WebConnection.BL.Repository.Abstract.IUserRepository, CCE.WebConnection.BL" type="CCE.WebConnection.BL.Repository.Concrete.UserRepository, CCE.WebConnection.BL" lifestyle="Transient"></component>
            <component id="Customer" service="CCE.WebConnection.BL.Models.Domain.Abstract.ICustomer, CCE.WebConnection.BL" type="CCE.WebConnection.BL.Models.Domain.Concrete.Customer, CCE.WebConnection.BL" lifestyle="Transient"></component>
            <component id="MembershipService" service="CCE.WebConnection.BL.Models.Domain.Abstract.IMembershipService, CCE.WebConnection.BL" type="CCE.WebConnection.BL.Models.Domain.Concrete.AccountMembershipService, CCE.WebConnection.BL" lifestyle="Transient"></component>
            <component id="FormsAuthenticationService" service="CCE.WebConnection.BL.Models.Domain.Abstract.IFormsAuthenticationService, CCE.WebConnection.BL" type="CCE.WebConnection.BL.Models.Domain.Concrete.FormsAuthenticationService, CCE.WebConnection.BL" lifestyle="Transient"></component>
            <component id="MembershipSettings" service="CCE.WebConnection.BL.Models.Domain.Abstract.IMembershipSettings, CCE.WebConnection.BL" type="CCE.WebConnection.BL.Models.Domain.Concrete.MembershipSettings, CCE.WebConnection.BL" lifestyle="Transient"></component>
        </components>
    </castle>
    <elmah>
        <security allowRemoteAccess="0" />
        <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="WebConnection" />
    </elmah>
    <system.web>
    <machineKey validationKey='F4A589E72CE6736CD6D4E8192BBEEDCACE6146B2ED7B4E7BEEDEA9BAD5D69886B4FE31FF133AA3F8008A1ADA0E5A6CEDEEBD77B6B2EADA33D429FC092E0BE36A' decryptionKey='E37581999EBA3DBF1FEFF5F161A5D1774ACE4198CED5E172' validation='SHA1'/>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" defaultUrl="~/Customers/Index" timeout="2880" />
    </authentication>
    <membership defaultProvider="CustomProvider" userIsOnlineTimeWindow="15">
        <providers>
            <add name="CustomProvider" type="CCE.WebConnection.BL.Membership.CustomMembershipProvider" connectionStringName="Connection" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" writeExceptionsToEventLog="false" />
        </providers>
    </membership>
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.html">
      <error statusCode="404" redirect="404.html" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <validation validateIntegratedModeConfiguration="false" />
      <modules runAllManagedModulesForAllRequests="true">
          <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
          <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
          <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
          <add name="ErrorTweet" type="Elmah.ErrorTweetModule, Elmah" preCondition="managedHandler" />
      </modules>
      <handlers>
          <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    <urlCompression doStaticCompression="true" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css; charset=UTF-8" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript; charset=UTF-8" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
      <remove fileExtension=".rss" />
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
      <remove fileExtension=".mp4"/>
      <remove fileExtension=".m4v"/>
      <remove fileExtension=".ogg"/>
      <remove fileExtension=".ogv"/>
      <remove fileExtension=".webm"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <remove fileExtension=".svg"/>
      <remove fileExtension=".svgz"/>
      <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
      <mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />   
      <remove fileExtension=".eot" />
      <remove fileExtension=".otf"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />      
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
    <location path="elmah.axd">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="css">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="js">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="img">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
  <runtime>
    <legacyHMACWarning enabled="0" />
  </runtime>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
    </settings>
  </system.net>  
</configuration>