<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="data source=C:\Projects\DB\LiveData.add;password=hondaf6c;user id=AdsSys;lockmode=PROPRIETARY;tabletype=ADT" providerName="Advantage.Data.Provider" />
  </connectionStrings>
</configuration>