@model CCE.WebConnection.BL.Models.ViewModels.CustomerViewModel
  
 <p>
    @Html.LabelFor(c => c.PkId, "ID")
    @Html.EditorFor(c => c.PkId)
</p>
         
<p>
    @Html.LabelFor(c => c.Name, "Name")
    @Html.EditorFor(c => c.Name)
</p>