@model CCE.WebConnection.BL.Models.ViewModels.CustomerViewModel
  
 <p>
    @Html.LabelFor(c => c.CustomerID, "ID")
    @Html.EditorFor(c => c.CustomerID)
</p>
         
<p>
    @Html.LabelFor(c => c.CustomerName, "Name")
    @Html.EditorFor(c => c.CustomerName)
</p>