@model CCE.WebConnection.BL.Models.ViewModels.CustomersViewModel

@{
    ViewBag.Title = "List Customers";
}

<h2>ListCustomers</h2>

<table>
    <tr>    
        <th>Customer ID</th>  
        <th>Customer Name</th>
    </tr>
        @foreach (var item in Model.Customers) {
    
        <tr>
            <td>@Html.DisplayFor(modelItem => item.PkId)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
        </tr>
    }
</table>